# dashboard-info
/dashboard-info

# python db script config file
python-db-scripts/config.py

# python pycache files
python-db-scripts/__pycache__

# dashboard script config files
dashboard-scripts/config/DB/dbConfig.php
dashboard-scripts/config/API/ConfigAPI.php

# old dashboard scripts
dashboard-old-scripts/config/DB/dbConfig.php
dashboard-old-scripts/config/API/ConfigAPI.php

# Visual Studio / VS Code workspace files
.vs/
.venv/

# macOS metadata files
.DS_Store
**/.DS_Store
